/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* Global styles */

html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  --full-height: 100vh;

  --frame: 20px;

  --font-size: 1rem;
  --line-height: 1.375rem;
}

@media all and (min-width: 900px) {
  html {
    --frame: 40px;
  }
}

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden auto;
  scroll-behavior: smooth;

  background: var(--gray-1);

  color: var(--gray-9);
  font-family: var(--sans-serif);
  font-size: 16px;
}

::selection {
  background: var(--secondary-color);
  color: var(--gray-1);
  -webkit-text-fill-color: var(--gray-1);
}

/* Colors */

:root {
  --gray-1: #fefefe;
  --gray-2: #dfdfdf;
  --gray-3: #c2c2c2;
  --gray-4: #a4a4a4;
  --gray-5: #878787;
  --gray-6: #686868;
  --gray-7: #4b4b4b;
  --gray-8: #2d2d2d;
  --gray-9: #111111;

  --primary-color-1: #fff8eb;
  --primary-color-2: #ffeac2;
  --primary-color-3: #ffdb99;
  --primary-color-4: #ffd485;
  --primary-color-5: #ffc65c;
  --primary-color-6: #ffb833;
  --primary-color-7: #ffa500;
  --primary-color-8: #e09200;
  --primary-color-9: #b87700;

  --primary-color: var(--primary-color-5);

  --secondary-color-1: #ddf4f8;
  --secondary-color-2: #bce9f1;
  --secondary-color-3: #9adeea;
  --secondary-color-4: #78d3e2;
  --secondary-color-5: #57c7db;
  --secondary-color-6: #2dbad2;
  --secondary-color-7: #27a3b9;
  --secondary-color-8: #208697;

  --secondary-color: var(--secondary-color-5);
}

/* @media (prefers-color-scheme: dark) { */

body.dark {
  --gray-1: #111111;
  --gray-2: #2d2d2d;
  --gray-3: #4b4b4b;
  --gray-4: #686868;
  --gray-5: #878787;
  --gray-6: #a4a4a4;
  --gray-7: #c2c2c2;
  --gray-8: #dfdfdf;
  --gray-9: #fefefe;

  --primary-color-1: #b87700;
  --primary-color-2: #e09200;
  --primary-color-3: #ffa500;
  --primary-color-4: #ffb833;
  --primary-color-5: #ffc65c;
  --primary-color-6: #ffd485;
  --primary-color-7: #ffdb99;
  --primary-color-8: #ffeac2;
  --primary-color-9: #fff8eb;

  --secondary-color-1: #208697;
  --secondary-color-2: #27a3b9;
  --secondary-color-3: #2dbad2;
  --secondary-color-4: #57c7db;
  --secondary-color-5: #78d3e2;
  --secondary-color-6: #9adeea;
  --secondary-color-7: #bce9f1;
  --secondary-color-8: #ddf4f8;

}

body.dark ::selection {
  background: var(--secondary-color-6);
}

a {
  color: var(--secondary-color-6);
}